
/*.t1 - .t24: assigning correct background image specific to hour in the day*/
.t1{
    background: url(../backgroundImg/01_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t2{
     background: url(../backgroundImg/02_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t3{
     background: url(../backgroundImg/03_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t4{
     background: url(../backgroundImg/04_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t5{
     background: url(../backgroundImg/05_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t6{
     background: url(../backgroundImg/06_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t7{
     background: url(../backgroundImg/07_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t8{
     background: url(../backgroundImg/08_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t9{
     background: url(../backgroundImg/09_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t10{
     background: url(../backgroundImg/10_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t11{
     background: url(../backgroundImg/11_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t12{
     background: url(../backgroundImg/12_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t13{
     background: url(../backgroundImg/13_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t14{
     background: url(../backgroundImg/14_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t15{
     background: url(../backgroundImg/15_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t16{
     background: url(../backgroundImg/16_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t17{
     background: url(../backgroundImg/17_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t18{
     background: url(../backgroundImg/18_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t19{
     background: url(../backgroundImg/19_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t20{
     background: url(../backgroundImg/20_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t21{
     background: url(../backgroundImg/21_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t22{
     background: url(../backgroundImg/22_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t23{
     background: url(../backgroundImg/23_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.t24{
     background: url(../backgroundImg/24_00.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Simple css to displayfont color*/
body,#wTime, #time, #liveClock{
    width: 95%;
    margin: auto;
    color: black;
    font-family: bell gothic std;
    font-size: 24pt;
}
/*spacing for all headers*/
h1, h2, h3{
    padding: 10px;
    margin:auto;
    margin:0 auto;
}

/*color and spacing from live clock and h3*/
h3{
    color: whitesmoke;
}

#liveClock{
    color: whitesmoke;
}

#audioplayer{
    margin-top: 25%;
    display: block;
}


